@media(max-width: 1921px) {

}


@media(max-width: 1305px) {

  .container {
    max-width: 952px;
  }

  .head-top{
    flex-direction: column;
  }

  .adress{

    max-width: 952px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 18px;
  }

  .company{
    max-width: 952px;
    width: 100%;
  }

  .sp-mid-open{
    visibility: hidden;
  }



  .sp-mid-top{
    flex-direction: column;
  }

  .sp-img-mid{
    padding-left: 21px;
    padding-right: 21px;
    margin-right: 0;
  }

  .spec-card-main{
    padding-right: 41px;
  }

  .spec-card{
    width: calc((100% - ((32px)*2))/3);
  }

  .btn-buy-cont{
    justify-self: flex-end;
  }

  .hr-card{
    width: calc((100% - ((32px)*2)) / 3);
  }

  .hr-card:not(:nth-child(3n)){
    margin-right: var(--gap32);
  }

  .hr-card:nth-child(3n){
    margin-right: 0;
  }

  .hr-card-hide{
  display: none;
  }
}


@media(max-width: 1025px) {
/*
  .adress{
    min-width: 952px;

  }*/

  .container {
    max-width: 952px;

  }
/*
  .company{
    max-width: 952px;
    width: 100%;
  }


  .spec-list{
    justify-content: space-between;
  }

  .spec-card{
    margin-right: 0;
  }

  .spec-card-mid{
    width: calc((100%-((32px)*2))/3);
  }

  .spec-card-main{
    padding-right: 44px;
  }

  .sp-mid{
    max-width: 254px;
  }


  .top-up{
    justify-content: space-between;
    gap: var(--gap32);
  }

  .card-up-lt{
    width: calc((100% - (32px)) / 3* 2 + 10px);
  }

  .card-up-rt{
    width: calc(((100% - (32px)) / 3) );
    max-width: 296px;
  }

  .ben-card{
    justify-content: space-between;
  }


  .bc3{
    display: flex;
  }

  .ben-txt{
    font-size: 16px;
  }

  .media{
    margin-right: 0;
  }

  .footer-descr{
    width: 80%;
  }*/


}






/*
@media(max-width: 952px) {

  .header{
    max-width: 768px;
  }

}


@media(max-width: 930px) {

  .bc3{
    display: none;
  }

  .spec-list{
    max-width: ;
  }

  .sp-c-last{
    display: none;
  }

  .spec-card{
    width: calc((100%-32px)/2);
  }

  .spec-card-mid{
    width: calc((100%-32px)/2);
  }
}


@media(max-width: 853px) {
.hr-card{
  width: calc((100% - 32px) / 2);

}

.hr-card:not(:nth-child(2n)){
  margin-right: var(--gap32);
}

.hr-card:nth-child(2n){
  margin-right: 0;
}
}
*/

@media(max-width: 769px) {

  .container{

  }

  /*
  .nav-panel{
    visibility: hidden;
  }



  .container-foot{
    flex-direction: column;
  }

  .media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social-media{
    padding-top: 0;
  }


  .footer-descr{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .bc1{
    width: 100%;
  }*/
}

/*
@media(max-width: 541px) {


}


@media(max-width: 321px) {


}
*/
